[project]
name = "cancellation-task-stim-and-analysis-pipeline"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = []

[dependency-groups]
dev = [
    "jupyterlab>=4.5.0",
    "pyright>=1.1.407",
    "ruff>=0.14.6",
]
